openapi: 3.1.0
info:
  title: Oda (reverse-engineered)
  version: 0.1.0
  description: |
    Reverse-engineered subset of oda.com's private REST API used by oda-butler.

    Only the fields we read or write are documented. The real responses contain
    many more fields (UI metadata, banners, certifications, etc.); TypeScript's
    structural typing already lets unmodeled fields pass through, so schemas
    here describe only the documented surface.

    All endpoints require an authenticated session (cookies `csrftoken` and
    `sessionid`). Mutations also require headers `X-CSRFToken: <csrftoken>`,
    `Origin: https://oda.com`, and a same-origin `Referer`.

servers:
  - url: https://oda.com
    description: Norwegian production site

tags:
  - name: auth
    description: Session login and logout
  - name: user
    description: Account details (addresses, preferences)
  - name: products
    description: Product catalog (REST search + product detail + brand)
  - name: cart
    description: One-off shopping cart (consumer)
  - name: orders
    description: Past and in-flight orders
  - name: recurring-cart
    description: Consumer recurring cart. Empty on B2B accounts; do not use.
  - name: product-lists
    description: B2B product lists, including the active recurring order

paths:
  /api/v1/user/login/:
    post:
      tags: [auth]
      summary: Sign in with email and password
      description: |
        Sets `csrftoken` and `sessionid` cookies on success. Caller must first
        GET any HTML page (e.g. `/no/user/login/`) to obtain a CSRF cookie.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        "200": { description: Authenticated; session cookies set on response }
        "400": { description: Invalid credentials }

  /api/v1/user/logout/:
    post:
      tags: [auth]
      summary: Sign out
      description: Clears the session on the server. Cookies become invalid.
      responses:
        "200": { description: Logged out }

  /api/v1/user/addresses/:
    get:
      tags: [user]
      summary: List the user's delivery addresses
      description: |
        Returns an array of delivery addresses with delivery-area metadata
        (whether the address is in Oda's coverage area, unattended-delivery
        eligibility, coordinates, etc.).
      responses:
        "200":
          description: Delivery addresses
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/UserAddress" }

  /api/v1/user/preferences/:
    get:
      tags: [user]
      summary: Get the user's order preferences
      responses:
        "200":
          description: User preferences
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserPreferences" }
    post:
      tags: [user]
      summary: Update the user's order preferences
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UserPreferences" }
      responses:
        "200":
          description: Updated preferences
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserPreferences" }

  /api/v1/search/:
    get:
      tags: [products]
      summary: Product search (REST)
      description: |
        Direct REST search. Returns up to 40 products per page along with
        matching categories and a `total_hits` count. Pagination is via
        `page` only; `limit` and `offset` are ignored.

        **Caveat:** the REST search is more literal than the HTML
        `/no/search/products/` page. Multi-word natural-language queries
        like `"snickers ice cream"` return zero hits here even though the
        HTML page resolves them via intent matching (→ Snickers-Is). For
        production use cases that need fuzziness, fall back to the HTML
        page when REST returns zero results.
      parameters:
        - in: query
          name: q
          required: true
          schema: { type: string }
          description: Search query (Norwegian or English; barcodes also work)
        - in: query
          name: page
          required: false
          schema: { type: integer, minimum: 1, default: 1 }
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SearchResponse" }

  /api/v1/products/{product_id}/:
    get:
      tags: [products]
      summary: Get a product by ID
      description: |
        Returns the full product detail including alternative/related products,
        categories, certifications, and detailed nutritional/origin info.
      parameters:
        - in: path
          name: product_id
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Product detail
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProductDetail" }
        "404": { description: Unknown product }

  /api/v1/brand/{brand_id}/:
    get:
      tags: [products]
      summary: Get a brand with its categories and products
      parameters:
        - in: path
          name: brand_id
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Brand details with category tree and product listings
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Brand" }
        "404": { description: Unknown brand }

  /no/search/products/:
    get:
      tags: [products]
      summary: Product search via HTML (legacy fallback)
      description: |
        Returns an HTML page with product results embedded in `__NEXT_DATA__`
        under `props.pageProps.dehydratedState.queries[]`, where
        `queryKey[0]._id` is `"mixedSearch"` (legacy: `"searchpageresponse"`).
        **Prefer `GET /api/v1/search/`**; this is documented for completeness.
      parameters:
        - in: query
          name: q
          required: true
          schema: { type: string }
        - in: query
          name: page
          required: false
          schema: { type: integer, minimum: 1, default: 1 }
      responses:
        "200":
          description: HTML page; relevant payload is in `__NEXT_DATA__`
          content:
            text/html:
              schema:
                type: string

  /api/v1/cart/:
    get:
      tags: [cart]
      summary: Get the current cart
      responses:
        "200":
          description: Cart contents
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cart" }

  /api/v1/cart/items/:
    post:
      tags: [cart]
      summary: Mutate cart items (signed delta)
      description: |
        Positive `quantity` adds, negative removes. Negative beyond zero
        clamps at zero (item disappears).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                items:
                  type: array
                  items: { $ref: "#/components/schemas/ItemDelta" }
      responses:
        "200":
          description: Updated cart
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cart" }

  /api/v1/cart/clear/:
    post:
      tags: [cart]
      summary: Empty the cart
      responses:
        "200":
          description: Cart cleared
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cart" }

  /api/v1/orders/:
    get:
      tags: [orders]
      summary: List past orders, grouped by month, newest first
      parameters:
        - in: query
          name: through-date
          required: false
          schema: { type: string, format: date }
          description: Pagination cursor; passed back in `get_more_url`.
      responses:
        "200":
          description: Orders grouped by month
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OrdersResponse" }

  /api/v1/orders/{order_number}/:
    get:
      tags: [orders]
      summary: Read one order with line items
      parameters:
        - in: path
          name: order_number
          required: true
          schema: { type: string }
          example: "5fdnhy"
      responses:
        "200":
          description: Order detail
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OrderDetail" }
        "404": { description: Unknown order }

  /api/v1/cart/recurring/:
    get:
      tags: [recurring-cart]
      summary: Consumer recurring cart (do not use on B2B)
      description: |
        Same shape as `/api/v1/cart/`. On B2B accounts this always returns
        the empty cart shape (`product_quantity_count: 0`) even when an
        active recurring order exists. The B2B recurring order lives under
        `/api/v1/product-lists/` instead.
      responses:
        "200":
          description: Recurring cart
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cart" }

  /api/v1/cart/recurring/items/:
    post:
      tags: [recurring-cart]
      summary: Mutate consumer recurring cart (do not use on B2B)
      description: Same protocol as `/api/v1/cart/items/`. Signed delta.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                items:
                  type: array
                  items: { $ref: "#/components/schemas/ItemDelta" }
      responses:
        "200":
          description: Updated recurring cart
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cart" }

  /api/v1/product-lists/:
    get:
      tags: [product-lists]
      summary: List the user's product lists (paginated)
      description: |
        On a B2B account, the *active recurring order* is the entry whose
        `recurring_order.is_active` is true. Schedule details (cadence,
        weekday, next delivery date) are attached to that entry.
      responses:
        "200":
          description: Paginated list of product lists
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProductListsPage" }

  /api/v1/product-lists/{id}/:
    get:
      tags: [product-lists]
      summary: Read a product list with full items
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Product list with items
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProductList" }
        "404": { description: Unknown list }

  /api/v1/product-lists/{id}/products/:
    post:
      tags: [product-lists]
      summary: Mutate a product list (signed delta)
      description: |
        Body is a *top-level array* (not `{ items: [...] }` like the cart).
        Positive `quantity` adds (or creates an entry), negative removes.
        Negative beyond zero clamps at zero. Adding to a list that has an
        active recurring order applies on the next scheduled delivery.

        `OPTIONS` returns `405 Allow: POST`.
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { $ref: "#/components/schemas/ItemDelta" }
      responses:
        "200":
          description: Updated product list (same shape as GET)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProductList" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ListError" }
        "404":
          description: Unknown list
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ListError" }

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: sessionid
      description: Set by `POST /api/v1/user/login/`. Paired with `csrftoken` cookie.

  schemas:
    ItemDelta:
      type: object
      required: [product_id, quantity]
      properties:
        product_id: { type: integer, description: Oda product ID }
        quantity:
          type: integer
          description: |
            Signed delta. Positive adds, negative removes. Negative beyond
            zero clamps at zero (item disappears from the list).
      additionalProperties: false

    Money:
      type: string
      pattern: "^-?[0-9]+(\\.[0-9]+)?$"
      description: Decimal string, e.g. `"234.00"`. Currency is on the parent.
      example: "234.00"

    Product:
      type: object
      description: Product as embedded in cart, product-list, and search responses.
      properties:
        id: { type: integer }
        full_name: { type: string }
        name: { type: string }
        name_extra: { type: string, description: Size or descriptor suffix }
        brand: { type: string, nullable: true }
        brand_id: { type: integer, nullable: true }
        front_url: { type: string, format: uri }
        absolute_url: { type: string, description: Path-relative product URL }
        gross_price: { $ref: "#/components/schemas/Money" }
        gross_unit_price: { $ref: "#/components/schemas/Money" }
        unit_price_quantity_abbreviation:
          type: string
          description: e.g. `"kg"`, `"l"`
        unit_price_quantity_name:
          type: string
          description: e.g. `"liter"`, `"kilogram"`
        currency: { type: string, example: NOK }
        availability:
          $ref: "#/components/schemas/ProductAvailability"
        discount:
          oneOf:
            - { $ref: "#/components/schemas/ProductDiscount" }
            - { type: "null" }
        promotion:
          oneOf:
            - { type: object }
            - { type: "null" }
        client_classifiers:
          type: array
          description: Certifications and labels (Nyt Norge, FSC, etc.).
          items: { type: object }
        images:
          type: array
          items: { type: object }

    ProductAvailability:
      type: object
      properties:
        is_available: { type: boolean }
        description:
          type: string
          description: 'e.g. "På lager", "Utsolgt"'
        description_short: { type: string }
        code:
          type: string
          description: 'e.g. "in_stock", "sold_out"'

    ProductDiscount:
      type: object
      properties:
        is_discounted: { type: boolean }
        undiscounted_gross_price: { $ref: "#/components/schemas/Money" }
        undiscounted_gross_unit_price: { $ref: "#/components/schemas/Money" }
        discount_label: { type: string }
        active_until: { type: string, format: date-time }

    ProductDetail:
      allOf:
        - { $ref: "#/components/schemas/Product" }
        - type: object
          description: Extra fields returned by `GET /api/v1/products/{id}/`.
          properties:
            categories:
              type: array
              items: { $ref: "#/components/schemas/Category" }
            alternative_products:
              type: array
              items: { $ref: "#/components/schemas/Product" }
            related_products:
              type: array
              items: { $ref: "#/components/schemas/Product" }
            discount_mix_and_match_products:
              type: array
              items: { $ref: "#/components/schemas/Product" }
            bottle_deposit:
              oneOf:
                - { type: object }
                - { type: "null" }
            detailed_info:
              type: object
              description: Origin, nutritional info, ingredient declarations, etc.
            is_product_included_in_product_lists: { type: boolean }
            is_restricted: { type: boolean }
            restriction_age_limit:
              oneOf:
                - { type: integer }
                - { type: "null" }

    Category:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        parent:
          oneOf:
            - { type: integer }
            - { type: "null" }
        ordering: { type: integer }
        description: { type: string }
        is_new: { type: boolean }
        uri: { type: string }
        children:
          type: array
          items: { $ref: "#/components/schemas/Category" }
        siblings:
          type: array
          items: { type: object }
        products:
          type: array
          items: { $ref: "#/components/schemas/Product" }
        campaign_banners:
          type: array
          items: { type: object }

    SearchResponse:
      type: object
      properties:
        attributes:
          type: object
          properties:
            total_hits: { type: integer }
        products:
          type: array
          items: { $ref: "#/components/schemas/Product" }
        categories:
          type: array
          items: { $ref: "#/components/schemas/Category" }

    Brand:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        categories:
          type: array
          items: { $ref: "#/components/schemas/Category" }

    UserAddress:
      type: object
      description: Delivery address with delivery-area metadata.
      properties:
        user_delivery_address_id: { type: integer }
        address_display: { type: string, example: "Seilduksgata 9A" }
        zip_code: { type: string, example: "0553" }
        zip_place: { type: string, example: "Oslo" }
        address_extra: { type: string }
        user_specified_name:
          oneOf:
            - { type: string }
            - { type: "null" }
        user_instructions: { type: string }
        is_primary: { type: boolean }
        in_delivery_area: { type: boolean }
        is_boat_delivery:
          oneOf:
            - { type: boolean }
            - { type: "null" }
        coordinates:
          type: object
          properties:
            lat: { type: number, format: double }
            lng: { type: number, format: double }
        is_unattended_delivery_available: { type: boolean }
        is_unattended_delivery_enabled: { type: boolean }
        prefers_unattended_delivery: { type: boolean }

    UserPreferences:
      type: object
      properties:
        exempt_from_product_substitution:
          type: boolean
          description: When true, missing items aren't substituted with similar products.
        exempt_from_product_sampling:
          type: boolean
          description: When true, the user opts out of free product samples.
        preferred_recipe_portions:
          type: integer
          description: Default portion count for recipe-based shopping.
          example: 2

    CartItem:
      type: object
      required: [product, quantity]
      properties:
        product: { $ref: "#/components/schemas/Product" }
        quantity: { type: integer, minimum: 1 }

    Cart:
      type: object
      properties:
        id: { type: integer }
        product_quantity_count: { type: integer }
        total_gross_amount: { $ref: "#/components/schemas/Money" }
        currency: { type: string, example: NOK }
        items:
          type: array
          items: { $ref: "#/components/schemas/CartItem" }
          description: Top-level items (rare; usually empty in favor of `groups`)
        groups:
          type: array
          description: Items grouped by Oda's UI buckets. Flatten via `groups[].items`.
          items:
            type: object
            properties:
              items:
                type: array
                items: { $ref: "#/components/schemas/CartItem" }

    OrderTrackingStep:
      type: string
      description: |
        Tracking step name. Known values: `CONFIRMED`, `PACKING`, `EN_ROUTE`,
        `DELIVERED`, `CANCELLED`. Treated as open-ended because Oda may
        introduce new states; consumers map unknown values to a fallback
        ("OTHER" in our parsers). The lifecycle (per the `data.steps` array)
        is Bekreftet → Pakkes → På vei → Levert. Only `DELIVERED` and
        `CANCELLED` are terminal.
      example: DELIVERED

    OrderSummary:
      type: object
      required: [order_number]
      properties:
        order_number: { type: string, example: "5fdnhy" }
        gross_amount: { type: number, format: double }
        currency: { type: string, example: NOK }
        delivery:
          type: object
          properties:
            delivery_address: { type: string }
            delivery_time:
              type: string
              description: Human-readable string, e.g. `"man 1. desember, 18:53"`.
            status_text: { type: string }
            tracking:
              type: object
              properties:
                step_name: { $ref: "#/components/schemas/OrderTrackingStep" }

    OrderMonth:
      type: object
      properties:
        name: { type: string, example: "Desember 2025" }
        type: { type: string, example: month }
        gross_amount: { type: number, format: double }
        currency: { type: string }
        orders:
          type: array
          items: { $ref: "#/components/schemas/OrderSummary" }

    OrdersResponse:
      type: object
      properties:
        get_more_url: { type: string, nullable: true }
        has_more: { type: boolean }
        results:
          type: array
          items: { $ref: "#/components/schemas/OrderMonth" }

    OrderLineItem:
      type: object
      required: [product_id]
      properties:
        product_id: { type: integer }
        description: { type: string }
        quantity: { type: integer }
        gross_amount: { type: number, format: double }
        currency: { type: string }
        front_url: { type: string, nullable: true }
        absolute_url: { type: string, nullable: true }

    OrderItemGroup:
      type: object
      properties:
        type: { type: string, example: category }
        name: { type: string, description: Category name }
        items:
          type: array
          items: { $ref: "#/components/schemas/OrderLineItem" }

    OrderDetail:
      type: object
      properties:
        summary: { $ref: "#/components/schemas/OrderSummary" }
        items:
          type: object
          properties:
            product_count: { type: integer }
            item_groups:
              type: array
              items: { $ref: "#/components/schemas/OrderItemGroup" }
        info:
          type: array
          description: Key-value pairs shown on the order detail page (delivery info, totals, etc.).
          items:
            type: object
            properties:
              key: { type: string }
              title: { type: string }
              content: { type: string }
        recipes:
          type: array
          description: Recipes ordered alongside this order.
          items: { type: object }
        dinner_lists:
          type: array
          items: { type: object }
        active_survey_id:
          oneOf:
            - { type: integer }
            - { type: "null" }
        options:
          type: object
          description: Reorder options, complaint flow, share URL, etc.

    RecurringOrderMeta:
      type: object
      description: |
        Recurring schedule attached to a product list. `edit_url` carries
        the cadence as query params: `frequency` (weeks; 1=weekly,
        2=biweekly), `weekday` (ISO 1=Mon … 7=Sun), and an opaque
        `delivery_offering_id`.
      properties:
        id: { type: integer }
        is_active: { type: boolean }
        next_date: { type: string, format: date, nullable: true }
        edit_url: { type: string, description: Path with query params }

    ProductListSummary:
      type: object
      properties:
        id: { type: integer }
        title: { type: string }
        description: { type: string }
        url: { type: string, format: uri }
        number_of_products: { type: integer }
        total_quantity: { type: integer }
        eligible_for_recurring_order: { type: boolean }
        recurring_order:
          oneOf:
            - { $ref: "#/components/schemas/RecurringOrderMeta" }
            - { type: "null" }

    ProductList:
      allOf:
        - { $ref: "#/components/schemas/ProductListSummary" }
        - type: object
          properties:
            is_recurring_order: { type: boolean }
            is_active_recurring_order: { type: boolean }
            currency: { type: string }
            items:
              type: array
              items: { $ref: "#/components/schemas/CartItem" }

    ProductListsPage:
      type: object
      properties:
        next: { type: string, nullable: true }
        previous: { type: string, nullable: true }
        results:
          type: array
          items: { $ref: "#/components/schemas/ProductListSummary" }

    ListError:
      type: object
      description: |
        Validation error shape from `/api/v1/product-lists/{id}/products/`.
        `errors` is an array of human-readable strings, e.g.
        `["Invalid product"]`. `field_errors` keys errors by field name.
      properties:
        errors:
          type: array
          items: { type: string }
        field_errors:
          type: object
          additionalProperties:
            type: object
            properties:
              message: { type: string }
              code: { type: string }

security:
  - sessionCookie: []
